@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400&display=swap');

#navbar ul { 
	margin: 0; 
	padding: 5px; 
	list-style-type: none; 
	text-align: center; 
    border-radius: 25px;
} 
 
#navbar ul li {  
	display: inline; 
} 

#navbar ul li a:active {
    background-color: red;
}
 
#navbar ul li a { 
	text-decoration: none; 
	padding: .2em 1em; 
    color: white;
    border-radius: 25px;
    background-color: black;
} 
 
#navbar ul li a:hover { 
	color: #000; 
	background-color: lavender; 
    border-radius: 25px;
} 

.container-view {
    padding: 20px;
}

.link-edit {
    color: lavender;
}

.link-edit:visited {
    color: white;
}

.link-edit:hover {
    background-color: black;
    color: lavender;
    border-radius: 25px;
}

.list-text {
    color: lavender;
}

.fit {
    object-fit: cover;
    width: 50%;
    height: 50%;
}


.body {
    background-image: url(https://images.pexels.com/photos/160107/pexels-photo-160107.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

img {
    width: 50;
    height: 50;
}

.column {
    float: left;
    width: 50%;
}
  
.row:after {
content: "";
display: table;
clear: both;
}

.text-center {
    text-align: center;
}

.information-view {
    color: lavender;
}

#title {
    font-family: 'Roboto Mono', monospace;
    color:lavenderblush;
}

.darkened-view {
    background-color: black;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    padding: 20px;
}

footer.footer {
    height: 100%;
    width: 100%;
    background-color: black;
    background: rgba(0, 0, 0, 0.5);
}

p.copyright {
    color: lavender;
    line-height: 40px;
    font-size: 0.7em;
}